@use '../../mixins' as *;

.games-container {
    background-image: url('/img/background/background-games.png');
    background-size: cover;
    background-position: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .selector-games {
        display: flex;
        flex-direction: row;
        width: 95%;
        justify-content: space-between;
        margin-top: var(--spacing-xxl);
        margin-bottom: var(--spacing-xxl);

        .arcade-game {
            width: 47%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            img {
                width: 93%;
                height: auto;
            }
        }

        .information-game {
            width: 70%;
            background-color: var(--background-color-1);
            border-radius: 5vh;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border: 1px #2D96FF solid;
            @include responsive-size(border-radius, (12vw, 10vw, 8vw, 8vw, 3vw, 5vw, 3vw, 5vw, 5vw, 4vw));
            @include responsive-size(padding, (2rem, 1.8rem, 1.5rem, 1.8rem, 1rem, 1rem, 1.2rem, 2rem, 2.5rem, 4rem));

            //  Information Game Header
            .information-game-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                @include responsive-size(padding-bottom, (2rem, 1rem, 2rem, 2.2rem, 1rem, 2rem, 2rem, 2rem, 2.5rem, 2rem));
                @include responsive-size(gap, (1rem, 2rem, 1rem, 1rem, 0.5rem, 0.5rem, 0.5rem, 1rem, 1.5rem, 3rem));

                // Container Puntos
                .container-puntos {
                    background-color: var(--background-color-2);
                    padding: 0.7rem 1rem 0.7rem 1rem;
                    border-radius: 10px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 40%;
                    @include responsive-size(padding, (1rem, 0.5rem, 0.8rem, 1rem, 0.5rem, 0.5rem, 0.5rem, 0.5rem, 1rem, 2rem));
                    @include responsive-size(border-radius, (1rem, 0.5rem, 0.8rem, 1rem, 0.5rem, 1.2rem, 1.2rem, 2rem, 1.5rem, 2rem));
                    align-items: center;

                    img {
                        width: 40%;
                        @include responsive-size(margin-bottom, (0, 0, 0, 0, 0, 0, 0, 0, 0, 0));
                    }

                    p {
                        color: var(--color-secondary);
                        font-family: var(--font-press);
                        @include responsive-size(font-size, (3vw, 4vw, 3.5vw, 3.8vw, 1vw, 1vw, 1vw, 1vw, 1vw, 1vw));
                    }
                }


                // Container Saber Más
                .container-saber-mas {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;

                    p {
                        font-family: var(--font-press);
                        color: #2D96FF;
                        font-size: 1.2vh;
                        @include responsive-size(font-size, (3vw, 4vw, 3.5vw, 4vw, 1.2vw, 1.2vw, 1vw, 1.2vw, 1.3vw, 1.2vw));
                    }
                }
            }

            // Container Text
            .container-text {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                padding: var(--spacing-xxl);
                padding-top: var(--spacing-lg);
                padding-bottom: var(--spacing-lg);
                margin-bottom: var(--spacing-xxl);
                @include responsive-size(margin-bottom, (1rem, 1.2rem, 1.2rem, 1.5rem, 0.8rem, 1rem, 1rem, 1.5rem, 2rem, 3.5rem));

                p {
                    font-family: var(--font-press);
                    line-height: 1.7rem;
                    font-size: 1.4vh;
                    @include responsive-size(line-height, (1rem, 1.2rem, 1.2rem, 1.5rem, 0.8rem, 0.8rem, 0.8rem, 1.2rem, 1.5rem, 2rem));
                    @include responsive-size(font-size, (2.4vw, 0.8rem, 0.6rem, 0.8rem, 1.2vw, 1.2vw, 1vw, 1.1vw, 1.1vw, 2rem));
                }
            }


            // Container Button
            .container-button {
                display: flex;
                justify-content: center;
                align-items: center;

                button {

                    button {
                        all: unset;
                        cursor: pointer;
                        border: 3px #B46DA9 solid;
                        padding: 0.6rem 1rem 0.6rem 1rem;
                        border-radius: 10px;
                        font-family: var(--font-press);
                        font-size: var(--font-size-xl);
                        @include responsive-size(font-size, (2.4vw, 0.8rem, 0.6rem, 0.8rem, 1.2vw, 1.2vw, 1vw, 1.1vw, 1.1vw, 1.5vw));
                    }
                }


                // Container Controles
                .container-controles {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {

                        img {
                            width: 100%;
                        }
                    }
                }
            }

            .container-information {
                width: 47%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

.text-boton-jugar {
    font-size: var(--font-size-xs) !important;
    font-family: var(--font-press);
}


.container-boton-jugar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-top: var(--spacing-md);
}

// Catalogos de Juegos

.catalog-games {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: var(--spacing-md);
    background-color: var(--background-color-1);
    border-radius: 10px;

    // Title
    .title-games {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: var(--spacing-xxl);
        margin-top: var(--spacing-lg);
        @include responsive-size(margin-bottom, (1rem, 1rem, 1.2rem, 1.2rem, 1.5rem, 1.5rem, 2rem, 1.5rem, 2rem, 3.5rem));

        h3 {
            font-family: var(--font-press);
            @include responsive-size(font-size, (0.8rem, 0.8rem, 1rem, 1.2rem, 1.2rem, 1.2rem, 1.5rem, 1.5rem, 2rem, 3.5rem));
        }
    }

    .games-container-catalog {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-color: var(--background-color-1);
        gap: 20px;
        row-gap: 20px;
    }


    // Games Card Selector
    .game-selector {
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: rgb(63, 120, 250, 0.6);
        background-color: rgb(63, 120, 250, 0.6);
        padding: var(--spacing-lg);
        border-radius: 10px;
        cursor: pointer;

        img {

            img {
                color: #fff !important;
                width: 100%;
            }




        }
    }
}

.game-selector-active {
    background-color: rgb(63, 120, 250, 1) !important;

    .game-selector-active {
        background-color: rgb(63, 120, 250, 1) !important;
    }

    #arcade {
        filter: drop-shadow(0px 0px 10px rgba(0, 255, 255, 1));
    }

    filter: drop-shadow(0px 0px 10px rgba(0, 255, 255, 1));
}

// Horizontal
@media only screen and (max-width: 970px) {
    .games-container {
        .selector-games {
            .information-game {
                p {
                    font-size: var(--font-size-sm);
                }
            }
        }
    }

    .responsive-mobile {
        width: 5rem;
        height: 5rem;

        h3 {

            h3 {
                font-size: 0.4rem !important;
            }
        }
    }
}

// Vertical
@media only screen and (max-width:600px) {
    .games-container {
        flex-direction: column;

        .container-information {
            width: 100%;
            justify-content: center;
            align-items: center;
        }

        .selector-games {
            flex-direction: column;
            width: 100%;

            .arcade-game {
                width: 100%;

                img {
                    width: 40%;
                }
            }

            .information-game {
                display: flex;
                flex-direction: column;
                width: 90%;
                justify-content: center;
                align-items: center;

                img {
                    margin-bottom: var(--spacing-md);
                }

                .information-game-header {
                    width: 100%;

                }
            }
        }

        .catalog-games {
            flex-direction: column;

            div {
                width: 100%;
            }


            .games-container-catalog {
                display: flex;
                overflow-x: auto;
                /* Habilita el desplazamiento horizontal */
                scroll-snap-type: x mandatory;
                /* Opcional: activa el scroll snapping horizontal */

                overflow-x: auto;
                /* Habilita el desplazamiento horizontal */
                scroll-snap-type: x mandatory;
                /* Opcional: activa el scroll snapping horizontal */

                /* Oculta la barra de desplazamiento en algunos navegadores (opcional) */
                -ms-overflow-style: none;
                /* IE y Edge */
                scrollbar-width: none;

                /* Firefox */
                -ms-overflow-style: none;
                /* IE y Edge */
                scrollbar-width: none;

                /* Firefox */
                &::-webkit-scrollbar {
                    display: none;
                    /* Chrome, Safari y Opera */
                    display: none;
                    /* Chrome, Safari y Opera */
                }


                /* Estilos para los elementos hijos */
                &>div {
                    flex: 0 0 auto;
                    /* Evita que los elementos se estiren */
                    width: 200px;
                    /* Establece el ancho deseado para cada elemento */
                    margin-right: 16px;
                    /* Espacio entre los elementos */
                    scroll-snap-align: start;
                    /* Opcional: alinea el inicio de cada elemento al hacer scroll */

                    /* Otros estilos para los elementos */
                    /* ... */
                    &>div {
                        flex: 0 0 auto;
                        /* Evita que los elementos se estiren */
                        width: 200px;
                        /* Establece el ancho deseado para cada elemento */
                        margin-right: 16px;
                        /* Espacio entre los elementos */
                        scroll-snap-align: start;
                        /* Opcional: alinea el inicio de cada elemento al hacer scroll */

                        /* Otros estilos para los elementos */
                        /* ... */
                    }
                }
            }
        }
    }
}
