[submodule "public/games/Fruit-Ninja-Game---For-DoctorSimi"]
	path = public/games/Fruit-Ninja-Game---For-DoctorSimi
	url = https://github.com/IvanMarte2403/Fruit-Ninja-Game---For-DoctorSimi
[submodule "public/games/game-3"]
	path = public/games/game-3
	url = https://github.com/IvanMarte2403/Fruit-Ninja-Game---For-DoctorSimi
[submodule "public/games/game-1"]
	path = public/games/game-1
	url = https://github.com/IvanMarte2403/SimiInvade---for-DoctorSimi
[submodule "public/games/game-2"]
	path = public/games/game-2
	url = https://github.com/IvanMarte2403/PlatformGame-for-DoctorSimi
