// Principal Dashboard

.dashboard-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
    .user-container{
        width: 20%;
        background-color: var(--color-third);
    }
    
    .main-container{
        width: 80%;
        height: 100%;
    }
}


