@charset "UTF-8";
.container-login {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}
.container-login header {
  width: 100%;
}
.container-login header img {
  width: 100%;
}

.container-login-game {
  display: flex;
  height: 100%;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.container-login-game .columna {
  background-color: var(--color-crema);
  height: 100%;
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.container-login-game .medal {
  width: 50%;
}
.container-login-game .login-center {
  width: 70%;
}

.container-center {
  padding: var(--spacing-xl);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: double var(--color-blue);
  border-width: 0.6rem; /* Ajusta el grosor del borde según sea necesario */
  margin-top: var(--spacing-xl);
  margin-right: var(--spacing-xl);
  margin-left: var(--spacing-xl);
}
.container-center h1 {
  font-family: var(--font-press);
  text-align: center;
  font-size: var(--font-size-xxxxl);
  width: 80%;
}

.bottoms-container {
  display: flex;
  flex-direction: row;
  margin-top: var(--spacing-xl);
}

.text-boton-2 {
  font-family: var(--font-press);
  font-size: var(--font-size-xs);
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
}
form h2 {
  font-family: var(--font-press);
  font-size: var(--font-size-xxl);
}
form input {
  background: none;
  border: none;
  font-family: var(--font-press);
  margin-bottom: var(--spacing-xl);
  padding: var(--spacing-lg);
  font-size: var(--font-size-lg);
  color: var(--color-primary);
}
form .inputs-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-top: var(--spacing-xxl);
}
form .select-gender {
  font-family: var(--font-press);
  background: none;
  padding: var(--spacing-xl);
  border: none;
  margin-bottom: var(--spacing-xl);
}
form .select-gender option {
  background-color: var(--color-secondary);
  padding: var(--spacing-md);
  margin-top: var(--spacing-md);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  background-color: var(--color-crema);
  color: var(--color-secondary);
  padding: var(--spacing-xl);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal-content h2, .modal-content p {
  color: var(--color-secondary);
  font-family: var(--font-press);
}
.modal-content h2 {
  font-size: var(--font-size-xxl);
}
.modal-content p {
  font-size: var(--font-size-lg);
  width: 60%;
  margin-top: var(--spacing-xl);
}
.modal-content .modal-boton {
  font-size: var(--font-size-xs);
}

[class*=push] {
  position: relative;
  display: inline-block;
  width: 8rem;
  height: 8rem;
  border: 0;
  margin: 1em;
  outline: none;
  border-radius: 50%;
  cursor: pointer;
  transition: box-shadow 200ms;
}

.push--flat {
  background-color: hsl(10, 90%, 40%);
  box-shadow: inset 0 0.25rem 0 #da2e0b, inset 0 -0.25rem 0 #aa2409, inset 0 0 0 0.25rem #b32609, inset 0 0 0 0.6666666667rem hsl(10, 90%, 40%), inset 0 0 0 0.8rem #611405, inset 0 0 0 0.8695652174rem black, inset 0 0 0 1.0666666667rem rgba(247, 133, 110, 0.7), inset 0 0 0 1.4545454545rem hsl(10, 90%, 40%), inset 0 3.2rem 1.0666666667rem #aa2409, inset 0 0 0.8rem 1.3333333333rem #911f08, 0 0.4rem 0 rgba(0, 0, 0, 0.3);
}
.push--flat:after {
  content: "";
  position: absolute;
  bottom: 0.4rem;
  left: 0.8rem;
  display: block;
  width: 6.4rem;
  height: 6.4rem;
  border: 0.5333333333rem solid rgba(0, 0, 0, 0.3);
  border-width: 0 0 0.5333333333rem;
  border-radius: 50%;
  transition-duration: 200ms;
}
.push--flat:active, .push--flat.is-pushed {
  box-shadow: inset 0 0.25rem 0 #da2e0b, inset 0 -0.25rem 0 #aa2409, inset 0 0 0 0.25rem #b32609, inset 0 0 0 0.6666666667rem hsl(10, 90%, 40%), inset 0 0 0 0.8rem #611405, inset 0 0 0 0.9411764706rem black, inset 0 0 0 1.0666666667rem rgba(247, 133, 110, 0.2), inset 0 0 0 1.4545454545rem #b32609, inset 0 3.2rem 1.0666666667rem #9b2108, inset 0 0 0.8rem 1.3333333333rem #791a06, 0 0.4rem 0 rgba(0, 0, 0, 0.3);
  background-color: #b8270a;
}
.push--flat:active:after, .push--flat.is-pushed:after {
  bottom: 0.9333333333rem;
  border-width: 0;
}

.push--flat-blue {
  background-color: hsl(210, 90%, 40%);
  box-shadow: inset 0 0.25rem 0 #0b73da, inset 0 -0.25rem 0 #0959aa, inset 0 0 0 0.25rem #095eb3, inset 0 0 0 0.6666666667rem hsl(210, 90%, 40%), inset 0 0 0 0.8rem #053361, inset 0 0 0 0.8695652174rem black, inset 0 0 0 1.0666666667rem rgba(110, 179, 247, 0.7), inset 0 0 0 1.4545454545rem hsl(210, 90%, 40%), inset 0 3.2rem 1.0666666667rem #0959aa, inset 0 0 0.8rem 1.3333333333rem #084d91, 0 0.4rem 0 rgba(0, 0, 0, 0.3);
}
.push--flat-blue:after {
  content: "";
  position: absolute;
  bottom: 0.4rem;
  left: 0.8rem;
  display: block;
  width: 6.4rem;
  height: 6.4rem;
  border: 0.5333333333rem solid rgba(0, 0, 0, 0.3);
  border-width: 0 0 0.5333333333rem;
  border-radius: 50%;
  transition-duration: 200ms;
}
.push--flat-blue:active, .push--flat-blue.is-pushed {
  box-shadow: inset 0 0.25rem 0 #0b73da, inset 0 -0.25rem 0 #0959aa, inset 0 0 0 0.25rem #095eb3, inset 0 0 0 0.6666666667rem hsl(210, 90%, 40%), inset 0 0 0 0.8rem #053361, inset 0 0 0 0.9411764706rem black, inset 0 0 0 1.0666666667rem rgba(110, 179, 247, 0.2), inset 0 0 0 1.4545454545rem #095eb3, inset 0 3.2rem 1.0666666667rem #08529b, inset 0 0 0.8rem 1.3333333333rem #064079, 0 0.4rem 0 rgba(0, 0, 0, 0.3);
  background-color: #0a61b8;
}
.push--flat-blue:active:after, .push--flat-blue.is-pushed:after {
  bottom: 0.9333333333rem;
  border-width: 0;
}

.dashboard-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}
.dashboard-container .user-container {
  width: 25%;
  height: 100%;
  background-color: var(--color-third);
}
.dashboard-container .main-container {
  width: 75%;
  height: 100%;
}

.user-container {
  padding: var(--spacing-xl);
  color: var(--color-secondary);
}
.user-container .card-user {
  padding: var(--spacing-md);
  background-color: var(--background-color-2);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: row;
  color: var(--color-secondary);
}
.user-container .card-user .container-photo {
  width: 30%;
}
.user-container .card-user .container-photo img {
  width: 100%;
  padding: var(--spacing-xs);
  border-radius: 10rem;
  border: 1px solid var(--color-secondary);
}
.user-container .card-user .text-user {
  width: 70%;
  padding: var(--spacing-md);
}
.user-container .card-user .text-user h3 {
  color: var(--color-secondary);
  text-align: center;
  font-family: var(--font-primary);
  margin-bottom: var(--spacing-md);
}
.user-container .card-user .text-user p {
  color: var(--color-secondary);
  text-align: center;
  font-family: var(--font-press);
}
.user-container .nav-container {
  padding: var(--spacing-md);
  margin-top: var(--spacing-xl);
}
.user-container .nav-container ul {
  display: flex;
  flex-direction: column;
}
.user-container .nav-container ul li {
  text-decoration: none;
  list-style: none;
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: var(--font-size-xxl);
  margin-bottom: var(--spacing-md);
  display: flex;
  flex-direction: row;
  width: 100%;
}
.user-container .nav-container ul li img {
  width: 10%;
  margin-right: var(--spacing-md);
}
.user-container .invite-container {
  background: rgba(217, 217, 217, 0.1);
  padding: var(--spacing-lg);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: var(--spacing-xxl);
}
.user-container .invite-container h3 {
  text-align: center;
  font-weight: 600;
  font-family: var(--font-family-third);
  margin-bottom: var(--spacing-xl);
}
.user-container .invite-container button {
  background-color: var(--background-color-2);
  border: none;
  border-radius: 10rem;
  color: var(--color-third);
  padding: 1rem 2rem 1rem 2rem;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.user-container .invite-container button img {
  margin-right: var(--spacing-md);
}
.user-container .objetivo-container {
  padding: var(--spacing-md);
  margin-top: var(--spacing-xl);
}
.user-container .objetivo-container h3 {
  width: 60%;
  font-family: var(--font-secondary);
}/*# sourceMappingURL=style.css.map */