.dashboard-user-container{
    padding: var(--spacing-md);
    background-image: url('/img/background/background-games.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;      
    flex-direction: column;

    .header{
        display: flex;
        flex-direction: row;
        padding: var(--spacing-md);
        justify-content: space-between;
        font-family: var(--font-secondary);
        width: 100%;

        h2{
            font-size: var(--font-size-xl);
        }
        div{
            padding: var(--spacing-md);
        }
        .container-racha{
            background-color: rgba(0, 0, 0, 0.3); // Fondo negro con 30% de transparencia
            border-radius: var(--spacing-md);
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 23%;
            align-items: center;

            img{
                margin-right: var(--spacing-md);
                width: 10%;
            }
            p{
                font-family: var(--font-secondary);
                font-weight: 600;
                width: 76%;
                text-align: right;
                font-size: var(--font-size-lg);
            }
        }
    }


    // Dashboards Container

    .dashboard-if-container{
        padding: var(--spacing-md);
        .if-container{
            background-color: rgba(0, 0, 0, 0.3); // Fondo negro con 30% de transparencia
            width: 35%;
            padding:var(--spacing-md);
            border-radius: 10px;
        }

        .if-1{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .ranking-level{
                padding: 0.5rem 2rem 0.5rem 2rem;
                border-radius: 10px;
                background-color: var(--color-third);
                p{
                    font-family: var(--font-secondary);
                    font-weight: 800;
                    font-size: var(--font-size-xxl);
                }
            }

        }


        .total-score{
            h3{
                margin-top: var(--spacing-sm);
                font-size: var(--font-size-xxl);
            }

        }
    }
}


// Score

.graft-ranking{
    svg{
        color: var(--color-third) !important;
    }
}

.MuiChartsAxis-root{
    color: var(--color-third) !important; 
}