@use '../../mixins' as *;

.dashboard-user-container{
    padding: var(--spacing-md);
    background-image: url('/img/background/background-games.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;      
    flex-direction: column;

    .header{
        display: flex;
        flex-direction: row;
        padding: var(--spacing-md);
        justify-content: space-between;
        font-family: var(--font-secondary);
        width: 100%;
        align-items: center;
        @include responsive-size(padding, (1rem, 1rem, 1rem, 1rem, 1rem, 1rem, 1rem, 1rem, 2rem, 4rem));
        @include responsive-size(padding-bottom, (1rem, 1rem, 1rem, 1rem, 1rem, 1rem, 1rem, 1rem, 1rem, 1rem));

        h2{
            font-size: var(--font-size-xl);
            @include responsive-size(font-size, (1rem, 1rem, 1rem, 1rem, 1rem, 1rem, 1rem, 1.5rem, 2rem, 2.5rem));
        }
        div{
            padding: var(--spacing-md);
        }
        .container-racha{
            background-color: rgba(0, 0, 0, 0.3); // Fondo negro con 30% de transparencia
            border-radius: var(--spacing-md);
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 23%;
            align-items: center;
            @include responsive-size(width, (100%, 100%, 100%, 100%, 50%, 40%, 35%, 30%, 20%, 20%));

            img{
                margin-right: var(--spacing-md);
                width: 10%;
            }
            p{
                font-family: var(--font-secondary);
                font-weight: 600;
                width: 76%;
                text-align: right;
                font-size: var(--font-size-lg);
                @include responsive-size(font-size, (1rem, 1.2rem, 1.4rem, 1.6rem, 0.8rem, 0.7rem, 0.8rem, 1rem, 1rem, 2rem));
            }
        }
    }

    .container-general-dashboard{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: var(--spacing-md);
      @include responsive-size(padding, (1rem, 1rem, 1rem, 1rem, 1rem, 1rem, 1rem, 1rem, 2rem, 4rem));
      @include responsive-size(gap, (0, 0, 0, 0, 1rem, 1.2rem, 1.4rem, 2rem, 5rem, 10rem));
    }
    // Container-Info-Dashboard

    .container-info-dashboard{
      width: 49%;
      height: 100%;
      
      // Bloque de Noticias de Temporada
      .container-news{
        display: flex;
        justify-content: space-between;
        background: linear-gradient(
          to bottom, 
          rgba(106, 90, 224, 1) 0%,    /* #6A5AE0 a 100% de opacidad */
          rgba(255, 253, 253, 0.2) 100% /* #FFFDFD a 20% de opacidad */        
        );

        min-height: 25vh;
        border-radius: 0.6rem;
        padding: var(--spacing-lg);
        margin-bottom: var(--spacing-lg);

        @include responsive-size(flex-direction, (column, column, column, column, column, column, column, column, row, row));
        @include responsive-size(gap, (1rem, 1rem, 1rem, 1rem, 1rem, 1rem, 1rem, 1.5rem, 1.8rem, 1.8rem));
        @include responsive-size(padding, (1rem, 1rem, 1rem, 1rem, 1rem, 1rem, 1rem, 1.8rem, 2rem, 2.2rem));
        // Left-News
        .left-news{
            width: 70%;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            @include responsive-size(justify-content, (space-between, space-between, space-between, space-between, flex-start, flex-start, flex-start, flex-start, flex-start, flex-start));
            @include responsive-size(width, (70%, 70%, 70%, 70%, 100%, 100%, 100%, 100%, 100%, 100%));
            .title-news{
              width: 100%;
              @include responsive-size(width, (100%, 100%, 100%, 100%, 50%, 100%, 100%, 100%, 100%, 60%));
              h3{
                font-size: 3.5vh;
                line-height: 5vh;
                @include responsive-size(font-size, (0.8rem, 1rem, 1.1rem, 1.5rem, 0.8rem, 0.6rem, 0.8rem, 1.2rem, 1rem, 2rem));
                @include responsive-size(line-height, (1rem, 1.2rem, 1.5rem, 1.8rem, 1rem, 0.8rem, 1rem, 1.5rem, 1.5rem, 2.2rem));
                span{
                  font-family: var(--font-press);
                  font-size: 3.5vh;
                  @include responsive-size(font-size, (1rem, 1.2rem, 1.4rem, 1.6rem, 0.8rem, 0.8rem, 1rem, 1.5rem, 1.5rem, 2.4rem));
                }
              }
            }
            @include responsive-size(gap, (1rem, 1rem, 1.5rem, 1.5rem, 1rem, 1rem, 1rem, 1.5rem, 1.8rem, 1.8rem));

            button{
              all: unset;
              cursor: pointer;
              padding: 1rem 1.5rem 1rem 1.5rem;
              background-color: var(--background-color-2);
              border-radius: 0.6rem;
              color: var(--color-secondary);
              display: flex;
              align-items: center;
              justify-content: space-between;
              font-weight: 600;
              font-family: var(--font-secondary);
              width: 40%;
              @include responsive-size(font-size, (1rem, 1rem, 1rem, 1rem, 0.5rem, 0.5rem, 0.6rem, 1rem, 1rem, 1rem));
              @include responsive-size(padding, (1rem, 1rem, 1rem, 1rem, 0.5rem, 0.5, 0.5rem, 1rem, 1rem, 1rem));
              @include responsive-size(gap, (1rem, 1rem, 1rem, 1rem, 0.5rem, 0.5rem, 0.5rem, 1rem, 1rem, 1rem));
              @include responsive-size(width, (40%, 40%, 40%, 40%, 30%, 45%, 40%, 40%, 60%, 50%));
              img {
                @include responsive-size(width, (40%, 40%, 40%, 40%, 20%, 15%, 15%, 15%, 15%, 15%));
              }
            }
          
        }

        // Right News

        .right-news{
          width: 20%;
          display: flex;
          justify-content: center;
          align-items: center;
          @include responsive-size(width, (20%, 20%, 20%, 20%, 100%, 100%, 100%, 100%, 100%, 100%));
          img{
            position: relative;
            @include responsive-size(width, (50%, 60%, 50%, 40%, 50%, 50%, 50%, 50%, 80%, 50%));
          }
        }
      }

      // Bloque De Posición

      .block-dashboard{
        display: flex;
        width: 100%;
        justify-content: space-between;
        border-radius: 0.4rem;
        padding: var(--spacing-md);
        margin-bottom: var(--spacing-lg);
        @include responsive-size(gap, (1rem, 1rem, 1rem, 1rem, 1rem, 1rem, 1rem, 1rem, 1rem, 1rem));
        .text-image{
          width: 60%;
          display: flex;
          align-items: center;
          @include responsive-size(width, (60%, 60%, 60%, 60%, 80%, 70%, 60%, 60%, 60%, 60%));
          @include responsive-size(gap, (2vh, 2vh, 2vh, 2vh, 0.5rem, 2vh, 2vh, 2vh, 2vh, 2vh));
          img {
            @include responsive-size(width, (60%, 60%, 60%, 60%, 40%, 40%, 100%, 100%, 60%, 40%));
          }
          p{
            font-family: var(--font-secondary);
            font-weight: 600;
            @include responsive-size(font-size, (4vw, 0.8rem, 1rem, 1rem, 0.5rem, 0.5rem, 0.8rem, 1rem, 1.5rem, 2rem));
          }
        }

        .pointer-block{
          width: 40%;
          display: flex;
          align-items: center;
          font-size: 2.5vh;
          @include responsive-size(width, (40%, 40%, 40%, 40%, 20%, 30%, 30%, 40%, 40%, 40%));
          p{
            font-family: var(--font-press);
            @include responsive-size(font-size, (4vw, 0.8rem, 1rem, 0.8rem, 0.5rem, 0.5rem, 0.8rem, 1rem, 1.2rem, 2rem));
          }
        }
      }

      .block-posicion{
        background-color: #41D773;
      }

      .block-best-score{
       background-color: #965BB0; 
      }

      .block-cantidad-partidas{
        background-color: #CFB372;
      }
    }

    // ---Ranking Mundial---

    .ranking-mundial{
      width: 49%;
      padding: var(--spacing-md);
      border-radius: 0.6rem;
      background-color: #6A5AE0;
      height: 100%;
      @include responsive-size(padding, (1rem, 1.2rem, 1.4rem, 1.6rem, 1rem, 1rem, 1.5rem, 2rem, 2.5rem, 4rem));
      
      // Title Ranking
      .title-ranking{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        h1{
          font-family: var(--font-secondary);
          font-size: 5vh;
          text-align: center;
          margin-top: var(--spacing-md);
          @include responsive-size(font-size, (1.5rem, 1.5rem, 2rem, 2rem, 1rem, 1rem, 1.5rem, 1.8rem, 3rem, 5rem));
        }
      }

      // Container User Ranking

      .container-user-ranking{
        background-color: var(--background-color-2);
        border-radius: 1rem;
    

        .row-user{
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 1rem 2rem 1rem 2rem;
          margin-top: var(--spacing-md);
          @include responsive-size(padding, (0.5rem, 0.8rem, 1rem, 1rem, 0.5rem, 0.5rem, 0.5rem, 0.5rem, 0.5rem, 2rem));

          // Corona
          .container-corona{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30%;
            @include responsive-size(width, (20%, 20%, 20%, 25%, 20%, 20%, 20%, 20%, 20%, 20%));
            img{
              width: 50%;
              @include responsive-size(width, (50%, 50%, 50%, 50%, 80%, 80%, 80%, 80%, 60%, 60%));
            }
            .corona-number{
              font-family: var(--font-press);
              color: var(--color-secondary);
              @include responsive-size(font-size, (4vw, 0.8rem, 1rem, 1.2rem, 0.6rem, 0.6rem, 0.7rem, 0.8rem, 1.2rem, 2rem));
            }
          }

          // Usuario Informacion

          .container-user-information{
            width: 50%;
            display: flex;
            flex-direction: column;
            @include responsive-size(width, (50%, 50%, 50%, 50%, 40%, 50%, 50%, 50%, 60%, 60%));
            p{
              color: var(--color-secondary);
              text-align: center;
              font-weight: 700;
              @include responsive-size(font-size, (4vw, 0.8rem, 1rem, 1rem, 0.5rem, 0.5rem, 0.7rem, 0.8rem, 1.5rem, 2rem));
            }

            span{
              color: var(--color-secondary);
              text-align: center;
              font-weight: 700;
              @include responsive-size(font-size, (4vw, 0.8rem, 1rem, 1rem, 0.5rem, 0.5rem, 0.7rem, 0.8rem, 1.2rem, 1.8rem));
            }
          }

          // Moneda Score

          .container-puntajes-premios{
            width: 20% ;
            display: flex;
            align-items: center;
            @include responsive-size(width, (30%, 30%, 30%, 25%, 40%, 30%, 30%, 30%, 20%, 20%));
            p{
              color: var(--color-secondary);
              font-weight: 800;
              @include responsive-size(font-size, (4vw, 0.8rem, 1rem, 1rem, 0.5rem, 0.5rem, 0.5rem, 0.8rem, 1.2rem, 2rem));
            }

            img{
              margin-right: 1vh;
              @include responsive-size(width, (25%, 25%, 25%, 25%, 25%, 25%, 20%, 20%, 20%, 20%));
            }
          }
        }
      }
    }
}




// Celulares

@media screen and (max-width: 600px){
  .dashboard-user-container 
  
    .header{
    width: 100%;
    display: flex;
    flex-direction: column;
      h2{
        width: 100%;
        text-align: center;
        margin-bottom: var(--spacing-md);
      }
    }

    // Container General Dashboard
    .container-general-dashboard{
      flex-direction: column;
      // Container Info Dashboard

      .container-info-dashboard{
        width: 100%;

        // Container News
        .container-news{
          flex-direction: column;

          // Left
          .left-news{
            width: 100%;
            margin-bottom: var(--spacing-lg);
          }

          .right-news{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
              position: static;
            }
          }
        }
        
        // Block Dashboard
        .block-dashboard{
          .pointer-block{
            display: flex;
            justify-content: flex-end;
            p{
              text-align: right;
            }
          }
        }
      }
    }

    // Ranking-Mundial

    .ranking-mundial{
      width: 100% !important;
    }
  
}


