.container-game{
    
    .modal-content{
        p{
            font-family: var(--font-press);
            font-size: var(--font-size-xl);
            text-align: center;
            color: var(--color-secondary);
            line-height: 2;
        }
    }

    

}

@media only screen and (max-width: 600px){

    .container-game{
        .modal-content{
            
            h2{
                font-size: var(--font-size-lg) !important;
            }

            p{
                font-size: var(--font-size-sm);
                width: 100%;
            }
        }

        
    }
   
   
}


// Mirada horizontal

@media only screen and (max-width: 950px){

    .container-game{
        .modal-content{
            
            h2{
                font-size: var(--font-size-lg) !important;
            }

            p{
                font-size: var(--font-size-sm);
                width: 100%;
            }
        }

        
    }

    .boton-guardar{
        width: 6rem !important;
        height: 6rem;
        font-size: var(--font-size-lg);

        .text-boton{
            font-size: 1.6vh!important;
        }
    }
}

